<div class="node-calculator">

  <div class="node-calculator__container">

    <div class="node-calculator__container__column">

      <div class="node-calculator__container__column__textfield">

        <div class="node-calculator__container__column__textfield__label">
          Ancho del árbol
        </div>

        <div class="node-calculator__container__column__textfield__input">
          <input 
            type="text" 
            name="txt-width" 
            id="txt-width" 
            placeholder="0"
            (keyup)="onKeyUp('width', $event)" />
        </div>

      </div>

      <div class="node-calculator__container__column__textfield">

        <div class="node-calculator__container__column__textfield__label">
          Nivel del árbol
        </div>

        <div class="node-calculator__container__column__textfield__input">
          <input 
            type="text" 
            name="txt-level" 
            id="txt-level" 
            placeholder="0"
            (keyup)="onKeyUp('level', $event)" />
        </div>

      </div>

    </div>

    <div class="node-calculator__container__column--total-nodes">

      <div class="node-calculator__container__column__total-nodes">

        <div class="node-calculator__container__column__total-nodes__label">número de nodos</div>

        <div class="node-calculator__container__column__total-nodes__value">{{nodes}}</div>

      </div>

    </div>

  </div>

</div>